<div class="static bottom-0 left-0 text-white border-bluegray-900 border-top-1 p-3 mt-4" style="min-width: 120px; min-height: 40px">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center py-2 text-xs">
      <i class="pi pi-check-circle mr-2"></i>App Money 2022: Application Developed with <a href="https://github.com/andreRozario/money-api" class="text-primary no-underline mx-1" target="_blank">Spring Boot 2</a> and <a href="https://github.com/andreRozario/money-ui" class="text-primary no-underline mx-1" target="_blank">Angular 13</a>
    </div>
    <div class="flex align-items-center justify-content-center py-2 text-xs">
      <a href="https://github.com/andreRozario" class="flex justify-content-center text-primary no-underline" target="_blank">
        <i class="pi pi-external-link flex align-items-center justify-content-center mr-2"></i>Developed By: André Timóteo do Rozário
      </a>
    </div>
  </div>
</div>
