<div class="container">

  <div class="mx-2">

    <h1>Dashboard</h1>

    <div class="grid">

      <div class="col-12 md:col-6 pb-0">
        <p-panel header="Lançamentos por categoria">
          <p-chart type="pie" [data]="pieChartData" width="100%" height="350" [options]="options"></p-chart>
        </p-panel>
      </div>

      <div class="col-12 md:col-6 pb-0">
        <p-panel header="Lançamentos por dia">
          <p-chart type="line" [data]="lineChartData" width="100%" height="350" [options]="options"></p-chart>
        </p-panel>
      </div>

    </div>

  </div>

</div>
