<p-table [value]="entries" [paginator]="true" [rows]="size" [lazy]="true" [totalRecords]="totalElements" (onLazyLoad)="LazyLoadEmitter($event)"
  [responsive]="true" sortField="person.name" dataKey="id" [loading]="loading" styleClass="p-datatable-striped" #table>

  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Lançamentos
      <p-button icon="pi pi-refresh"></p-button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="col-expander"></th>
      <th pSortableColumn="person.name">
        Pessoa <p-sortIcon field="person.name"></p-sortIcon>
      </th>
      <th pSortableColumn="description" class="hidden md:table-cell">
        Descrição <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="dueDate" class="col-date-header">
        Vencimento <p-sortIcon field="dueDate"></p-sortIcon>
      </th>
      <th pSortableColumn="paymentDate" class="col-date-header">
        Pagamento <p-sortIcon field="paymentDate"></p-sortIcon>
      </th>
      <th pSortableColumn="type" class="col-type-header">
        Tipo <p-sortIcon field="type"></p-sortIcon>
      </th>
      <th pSortableColumn="value" class="col-value-header">
        Valor <p-sortIcon field="value"></p-sortIcon>
      </th>
      <th class="col-actions"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-entry let-expanded="expanded">
    <tr>
      <td class="col-expander">
        <button type="button" pButton [pRowToggler]="entry" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td>
        <span class="p-column-title">Pessoa</span>
        {{ entry.person }}
      </td>
      <td class="hidden md:table-cell">
        <span class="p-column-title">Descrição</span>
        {{ entry.description }}
      </td>
      <td class="col-date-content">
        <span class="p-column-title">Vencimento</span>
        {{ entry.dueDate | date: 'dd/MM/y' }}
      </td>
      <td class="col-date-content">
        <span class="p-column-title">Pagamento</span>
        {{ entry.paymentDate | date: 'dd/MM/y' }}
      </td>
      <td class="col-type-content">
        <span class="p-column-title">Tipo</span>
        <p-tag styleClass="block text-center" severity="{{ entry.type === 'DESPESA' ? 'danger' : 'primary' }}" value="{{ entry.type }}" [rounded]="true"></p-tag>
      </td>
      <td class="col-value-content">
        <span class="p-column-title">Valor</span>
        <span [style.color]="entry.type === 'DESPESA' ? '#e25254' : '#1d98d3'">{{ entry.value | currency: 'BRL': 'symbol': '1.2-2' }} </span>
      </td>
      <td class="col-actions">
        <button icon="pi pi-pencil mx-1" pButton [routerLink]="['/entries/edit', entry.id]"
          pTooltip="Editar" tooltipPosition="top" [disabled]="hasNoPermission('SAVE_ENTRY')"></button>
        <button class="p-button-danger mx-1" icon="pi pi-trash" pButton
          pTooltip="Deletar" tooltipPosition="top" (click)="DeleteByIdEmitter({ entry, grid })" [disabled]="hasNoPermission('DELETE_ENTRY')"></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-entry>
    <tr>
      <td [attr.colspan]="8">
        <div class="grid m-0">
          <div class="col-12">
            <label class="font-bold">Descrição:</label>
            {{ entry.description }}
          </div>
          <div class="col-12">
            <label class="font-bold">Categoria:</label>
            {{ entry.category }}
          </div>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="8">Nenhum registro encontrado.</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      Existe um total de  {{ totalElements }} Lançamento(s) sendo exibido {{ entries ? entries.length : 0 }} por página
    </div>
  </ng-template>

</p-table>
