<div class="container">

  <div class="mx-2">

    <h1>Lançamentos</h1>

    <form autocomplete="off" (ngSubmit)="summarize()" #form="ngForm">

      <p-card [style]="{'background-color': '#252f3d'}">

        <div class="formgrid grid">

          <div class="col-12 mt-4">

            <div class="field p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-check-circle"></i></span>
              <span class="p-float-label">
                <input id="description" class="p-inputtext-lg" type="text" name="description" [(ngModel)]="filter.description" pInputText>
                <label for="description">Descrição</label>
              </span>
            </div>

          </div>

        </div>

        <div class="formgrid grid">

          <div class="col-12 md:col-4 sm:col-6 mt-4">

            <div class="field">
              <span class="p-float-label">
                <p-calendar inputId="dueDateFrom" class="p-inputtext-lg" name="dueDateFrom" [(ngModel)]="filter.dueDateFrom" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <label for="dueDateFrom">Vencimento de:</label>
              </span>
            </div>

          </div>

          <div class="col-12 md:col-4 sm:col-6 mt-4">

            <div class="field">
              <span class="p-float-label">
                <p-calendar inputId="dueDateTo" class="p-inputtext-lg" name="dueDateTo" [(ngModel)]="filter.dueDateTo" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                <label for="dueDateTo">Vencimento até:</label>
              </span>
            </div>

          </div>

        </div>

        <ng-template pTemplate="footer">
          <button type="submit" label="Pesquisar" pButton></button>
        </ng-template>

      </p-card>

    </form>

    <div class="grid-nogutter mt-4">

      <div class="col">

        <app-entry-datatable [entries]="entries" [size]="filter.size" [totalElements]="totalElements" [loading]="loading"
          (onLazyLoad)="onPageChange($event)" (onDelete)="confirmation($event)" (onReset)="reset($event)"></app-entry-datatable>

      </div>

    </div>

    <div class="grid-nogutter mt-4">

      <div class="col">
        <button type="button" label="Novo Lançamento" pButton routerLink="/entries/create" [disabled]="hasNoPermission('SAVE_ENTRY')"></button>
      </div>

    </div>

  </div>

</div>
