<div class="container">

  <h1>Lançamentos</h1>

  <p-card [style]="{'background-color': '#252f3d'}">

    <div class="formgrid grid">

      <div class="col-12">

        <div class="field p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-check-circle"></i></span>
          <span class="p-float-label">
            <input id="description" class="p-inputtext-lg" type="text" pInputText>
            <label for="description">Descrição</label>
          </span>
        </div>

      </div>

    </div>

    <div class="formgrid grid">

      <div class="col-12 md:col-4 sm:col-6 mt-4">

        <div class="field p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <span class="p-float-label">
            <input id="dueDateFrom" class="p-inputtext-lg" type="text" pInputText>
            <label for="dueDateFrom">Vencimento de:</label>
          </span>
        </div>

      </div>

      <div class="col-12 md:col-4 sm:col-6 mt-4">

        <div class="field p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <span class="p-float-label">
            <input id="dueDateTo" class="p-inputtext-lg" type="text" pInputText>
            <label for="dueDateTo">Vencimento até:</label>
          </span>
        </div>

      </div>

    </div>

    <ng-template pTemplate="footer">
      <button type="submit" label="Pesquisar" pButton></button>
    </ng-template>

  </p-card>

  <div class="grid-nogutter mt-4">

    <div class="col">

      <app-entry-datatable [entries]="entries"></app-entry-datatable>

    </div>

  </div>

  <div class="grid-nogutter mt-4">

    <div class="col">
      <a label="Novo Lançamento" pButton></a>
    </div>

  </div>

</div>
