<div class="container">

  <h1>Lançamentos</h1>

  <p-card [style]="{'background-color': '#252f3d'}">

    <div class="formgrid grid">

      <div class="col-12">

        <div class="field p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-check-circle"></i></span>
          <span class="p-float-label">
            <input id="description" class="p-inputtext-lg" type="text" pInputText>
            <label for="description">Descrição</label>
          </span>
        </div>

      </div>

    </div>

    <div class="formgrid grid">

      <div class="col-12 md:col-4 sm:col-6 mt-4">

        <div class="field p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <span class="p-float-label">
            <input id="dueDateFrom" class="p-inputtext-lg" type="text" pInputText>
            <label for="dueDateFrom">Vencimento de:</label>
          </span>
        </div>

      </div>

      <div class="col-12 md:col-4 sm:col-6 mt-4">

        <div class="field p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <span class="p-float-label">
            <input id="dueDateTo" class="p-inputtext-lg" type="text" pInputText>
            <label for="dueDateTo">Vencimento até:</label>
          </span>
        </div>

      </div>

    </div>

    <ng-template pTemplate="footer">
      <button type="submit" label="Pesquisar" pButton></button>
    </ng-template>

  </p-card>

  <div class="formgrid grid mt-4">

    <div class="col-12">

      <p-table [value]="entries" [paginator]="true" [rows]="2" [responsive]="true" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-date-header">Vencimento</th>
            <th class="col-date-header">Pagamento</th>
            <th class="col-type">Tipo</th>
            <th class="col-value-header">Valor</th>
            <th class="col-actions"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entry>
          <tr>
            <td>
              <span class="p-column-title">Pessoa</span>
              {{entry.person}}
            </td>
            <td>
              <span class="p-column-title">Descrição</span>
              {{entry.description}}
            </td>
            <td class="col-date-content">
              <span class="p-column-title">Vencimento</span>
              {{ entry.dueDate }}
            </td>
            <td class="col-date-content">
              <span class="p-column-title">Pagamento</span>
              {{ entry.paymentDate }}
            </td>
            <td class="col-type">
              <span class="p-column-title">Tipo</span>
              <p-tag styleClass="block text-center" severity="{{ entry.type === 'DESPESA' ? 'danger' : 'primary' }}" value="{{ entry.type }}" [rounded]="true"></p-tag>
            </td>
            <td class="col-value-content">
              <span class="p-column-title">Valor</span>
              <span [style.color]="entry.type === 'DESPESA' ? '#e25254' : '#1d98d3'">{{entry.value}} </span>
            </td>
            <td class="col-actions">
              <a icon="pi pi-pencil" pButton pTooltip="Editar" tooltipPosition="top"></a>
              <button  class="p-button-danger" icon="pi pi-trash" pButton pTooltip="Deletar" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>

      </p-table>

    </div>

  </div>

  <div class="formgrid grid mt-4">

    <div class="col-12">
      <a label="Novo Lançamento" pButton></a>
    </div>

  </div>

</div>
