/* You can add global styles to this file, and also import other style files */

/* @import '../src/app/core/navbar/navbar.component.css'; */

body {
  margin: 0;
  background-color: #20262e;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
}

h1 {
  color: #8dd0ff;
}

@media (min-width: 1400px) {

  .container {
    width: 1370px;
    margin: 0 auto;
  }
}

.col-date-header {
  width: 135px;
  text-align: center!important;
}

.col-date-content {
  text-align: center!important;
}

.col-status-header {
  width: 100px;
  text-align: center!important;
}

.col-status-title {
  text-transform: uppercase;
}

.col-actions {
  width: 120px;
}

.col-actions > a {
  margin-right: 10px;
}

/* HACKS */

/* .p-paginator .p-paginator-pages .p-paginator-page {
  margin: unset;
} */

.p-datatable .p-datatable-thead > tr > th {
  background-color: #161c25;
}

.p-card .p-card-footer {
  padding-top: 0.65rem;
}

.p-selectbutton .p-button.p-highlight {
  background-color: #2a5185!important;
  border-color: #2a5185!important;
}

.p-dropdown {
  width: 100%!important;
}

.border-noround--left {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.p-dropdown-filter {
  width: 100%!important;
}

.p-dropdown-label {
  padding: 0!important;
}

p-inputnumber.ng-touched.ng-invalid > .p-inputnumber > .p-inputtext, p-dropdown.ng-touched.ng-invalid > .p-dropdown {
  border-color: #f19ea6;
}

.p-float-label > p-inputnumber.ng-invalid.ng-touched + label, .p-float-label > p-dropdown.ng-invalid.ng-touched + label {
  color: #f19ea6;
}

.p-float-label > p-inputnumber .p-inputnumber-input.p-filled {
  color: #ffffff;
}
