/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-color: #20262e;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
}

h1 {
  color: #8dd0ff;
}

@media (min-width: 1400px) {

  .container {
    width: 1370px;
    margin: 0 auto;
  }
}

.container__login {
  max-width: 530px;
  margin: 0 auto;
}

.col-expander {
  width: 70px;
}

.col-date-header {
  width: 155px;
  text-align: center!important;
}

.col-date-content {
  text-align: center!important;
}

.col-status-header {
  width: 100px;
  text-align: center!important;
}

.col-status-title {
  text-transform: uppercase;
}

.col-actions {
  width: 120px;
}

.col-actions > a {
  margin-right: 10px;
}

/* Not Allowed Element */

.not-allowed {
  cursor: not-allowed;
  pointer-events: none;
  outline: none;
}

/* Border no Round Left */

.border-noround--left {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

/* HACKS */

/* Paginator */

.p-paginator .p-paginator-pages .p-paginator-page {
  margin: unset;
}

/* Datatable */

.p-datatable .p-datatable-thead > tr > th {
  background-color: #161c25;
}

/* Card */

.p-card .p-card-footer {
  padding-top: 0.65rem;
}

.p-card .p-card-content {
  padding-top: 0;
  padding-bottom: 0;
}

/* Select Button */

.p-selectbutton .p-button.p-highlight {
  background-color: #2a5185!important;
  border-color: #2a5185!important;
}

/* Calendar */

.p-calendar {
  width: 100%;
}

/* Dropdown */

.p-dropdown {
  width: 100%!important;
}

.p-dropdown-filter {
  width: 100%!important;
}

.p-dropdown-label {
  padding: 0!important;
}

p-inputnumber.ng-touched.ng-invalid > .p-inputnumber > .p-inputtext, p-dropdown.ng-touched.ng-invalid > .p-dropdown {
  border-color: #f19ea6;
}

/* Float Label */

.p-float-label > p-inputnumber.ng-invalid.ng-touched + label, .p-float-label > p-dropdown.ng-invalid.ng-touched + label {
  color: #f19ea6;
}

/* Toast */

.p-toast .p-toast-message.p-toast-message-success  {
    background-color: #C8E6C9;
    border: solid #439446;
    border-width: 0 0 0 6px;
    color: #224a23;
}

.p-toast .p-toast-message.p-toast-message-info {
  background: #B3E5FC;
  border: solid #0891cf;
  border-width: 0 0 0 6px;
  color: #044868;
}

.p-toast .p-toast-message.p-toast-message-warn {
  background: #FFECB3;
  border: solid #d9a300;
  border-width: 0 0 0 6px;
  color: #6d5100;
}

.p-toast .p-toast-message.p-toast-message-error {
  background: #FFCDD2;
  border: solid #e60017;
  border-width: 0 0 0 6px;
  color: #73000c;
}

/* Menu Item */

a.p-menuitem-link.p-menuitem-link-active {
  background: #20262e;
}

/* Display */

@media (min-width: 1400px) {

  .md\:table-cell {
    display: table-cell!important;
  }
}
